/* font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Slackey', cursive; */
/* ---------------------------------General------------- */
*{
  font-family: 'Love Ya Like A Sister'
}

body {
  background-image: url('../public/pokeeeee.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.bold {
  font-weight: bold;
}
/* ---------------------------------Home Button------------- */

.home {
  border: 4px solid black;
  border-radius: 1rem;
  text-decoration: none;
  background-color: rgb(6, 73, 128);
  padding: .5rem 1rem;
  box-shadow: 5px 5px 5px black;
  transition:200ms ease-in-out;
  transform: scale(1.0);
}

.home:hover {
  transition:200ms ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 15px 10px black;
}

.home a {
  text-decoration: none;
  color: whitesmoke;

}
/* ---------------------------------Header------------- */

.header {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: 2px solid black;
  background-color: rgba(226, 5, 5, 0.726);
  padding: 0 10%;
}

.header-input {
  align-self: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.header-input input {
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: .5rem;
  
}
.dot {
  height: 1rem;
  width: 1rem;
  border: 2px solid black;
  border-radius: 50%;
  margin: 1rem 1rem;
}
.blue {
  background-color: rgb(36, 158, 196);
  height: 4rem;
  width: 4rem;
  border: 5px solid rgb(228, 231, 217);
}
.blue div {
  margin: 1rem 1rem;
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  background-color: rgba(228, 231, 217, 0.904);
}

/* ---------------------------------Main Poke List & Cards------------- */

.pokeImg {
  padding: 0;
  height: 8rem;
  align-self: center;
}

.card-header p {
  display: inline-block
  
}

.pokelist { 
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 10%;
  text-align: center;
  align-items: center;
  width: 100%;
}

.pokecard {
  border: 2px solid black;
  /* outline: 2px solid pink; */
  border-radius: 1rem;
  width:25vw;
  opacity: 0.85;
  justify-content: center;
  padding: 1rem 0; 
  box-shadow: -5px 5px 5px black;
  transition:200ms ease-in-out;
  transform: scale(1.0);
  /* background-color: antiquewhite; */
  font-family: 'Love Ya Like A Sister'
}

.pokecard, h2 {
  margin: 0;
  padding: 0;
}
.pokecard p {
  text-align: left;
  padding-left: 1rem;
}

.pokecard:hover {
  transition:200ms ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 15px 10px black;
}

/* ---------------------------------Show One Poke------------- */

.pokeDetails {
  border: 4px solid black;
  border-radius: 1rem;
  width: 25%;
  padding: 0.5rem;
  margin-left: 1rem;
  height: 70vh;
  overflow: scroll;
  background-color: rgba(241, 161, 55, 0.733);
}

.name{
  text-align: center;
  text-decoration:underline;
  font-size: 3rem;
  margin: 0.5rem auto;
}

.onePokeImg {
  height: 10rem;
}

.onePokeSection {
  width: 70%;
  /* margin: 0 auto; */
  justify-content: space-around;
}

.shinyBtn {
  border: 4px solid black;
  border-radius: 1rem;
  background-color: rgba(25, 158, 13, 0.836);
  padding: .5rem 1rem;
  box-shadow: 5px 5px 5px black;
  transition:200ms ease-in-out;
  transform: scale(1.0);
  width: fit-content;
  margin: 2rem auto;
}

.shinyBtn:hover {
  transition:200ms ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 15px 10px black;
}

.evolutions a {
  color: rgb(10, 43, 190);
  font-size: 1.2rem;
}

/* ---------------------------------Show One Ability/Move------------- */

.card {
  border: 4px solid black;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem 3rem;
  background-color: rgba(255, 235, 205, 0.712);

}